@import '~@angular/material/theming';
@import '/src/assets/variables.scss';

:host {
  display: block;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.palette-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .row-0 {
    height: 150px;
    margin-bottom: 50px;
  }

  // .row-1 {
  //   height: 80px;
  //   margin-bottom: 50px;
  // }

  // .row-2, .row-3 {
  //   height: 80px;
  // }

  .col {
    flex: 1;
    height: 100%;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
  }
}