// дефолтная цветовая схема приложения

:root {
  --background: #fff;

  --onprimary: #fff;
  --onsecondary: #000;
  --onerror: #fff;

  --primary50: #e8eaf6;
  --primary100: #c5cae9;
  --primary200: #9fa8da;
  --primary300: #7986cb;
  --primary400: #5c6bc0;
  --primary500: #3f51b5;
  --primary600: #3949ab;
  --primary700: #303f9f;
  --primary800: #283593;
  --primary900: #1a237e;
  --primaryA100: #8c9eff;
  --primaryA200: #536dfe;
  --primaryA400: #3d5afe;
  --primaryA700: #304ffe;

  --secondary50: #e0f2f1;
  --secondary100: #b2dfdb;
  --secondary200: #80cbc4;
  --secondary300: #4db6ac;
  --secondary400: #26a69a;
  --secondary500: #009688;
  --secondary600: #00897b;
  --secondary700: #00796b;
  --secondary800: #00695c;
  --secondary900: #004d40;
  --secondaryA100: #a7ffeb;
  --secondaryA200: #64ffda;
  --secondaryA400: #1de9b6;
  --secondaryA700: #00bfa5;

  --error50: #ffebee;
  --error100: #ffcdd2;
  --error200: #ef9a9a;
  --error300: #e57373;
  --error400: #ef5350;
  --error500: #f44336;
  --error600: #e53935;
  --error700: #d32f2f;
  --error800: #c62828;
  --error900: #b71c1c;
  --errorA100: #ff8a80;
  --errorA200: #ff5252;
  --errorA400: #ff1744;
  --errorA700: #d50000;
}


